*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  max-width: 220rem;
  margin: auto;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background: rgba(118, 159, 205, 0.8);
  position: relative; }

.inner-header {
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(185, 215, 234, 0.8), rgba(118, 159, 205, 0.8)), url("../assets/profile.png");
  background-size: cover;
  background-position: 30% 70%;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); }

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.logo {
  height: 13rem; }

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: fadeToDown;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  margin: 5rem 0rem;
  animation-name: fadeToRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards; }

.heading-primary-sub2 {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  margin: 5rem 0rem;
  animation-name: fadeToLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards; }

.slash {
  height: 40%;
  width: 30%;
  background-image: linear-gradient(to left bottom, #f7fbfc, rgba(255, 255, 255, 0.8));
  background-size: cover;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(85% 0%, 100% 0%, 15% 100%, 0% 100%);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in; }

@keyframes fadeToDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible; } }

@keyframes fadeToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible; } }

@keyframes fadeToRightBtn {
  0% {
    opacity: 0;
    transform: translate(-20rem, -50%);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible; } }

@keyframes fadeToLeftBtn {
  0% {
    opacity: 0;
    transform: translate(3rem, -50%);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s; }

.btn-web {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  animation-name: fadeToRightBtn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards; }

.btn-music {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  animation-name: fadeToLeftBtn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }
