$color-primary: #90bdd9;
$color-primary-light: #b9d7ea;
$color-primary-dark: #769fcd;
$color-light-background: #f7fbfc;


$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;
