.card {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    height: 52rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: $shadow-light;
    transition: all 0.8s ease;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-2 {
      }

      &-3 {
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__skill-box {
    display: inline-block;
    position: absolute;
    top: 0;

    &--image {
      position: relative;
      display: inline-block;
      height: 4rem;
    }
  }

  &__deployed {
display: inline-block;
position: absolute;
bottom: 0;
right: 0;

    &--link {
      position: relative;
      display: inline-block;
      height: 4rem;
      
    }
  }

  &__picture {
    background-size: contain;
    height: 23rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.45),
          rgba($color-primary-dark, 0.45)
        ),
        url(../assets/Gitbook_logo.png);
    }

    &--2 {
    }

    &--3 {
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--2 {
    }

    &--3 {
    }
  }
  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
  }
}
