.card {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  @include respond(phone) {
    height: 61rem;
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    height: 52rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: $shadow-light;
    transition: all 0.8s ease;

    @include respond(phone) {
      height: 60rem;
    }

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-purple-light,
          $color-purple-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__skill-box {
    display: inline-block;
    position: absolute;
    top: 0;

    &--image {
      position: relative;
      display: inline-block;
      height: 4rem;
    }
  }

  &__deployed {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;

    &--link {
      position: relative;
      display: inline-block;
      height: 4rem;
    }
  }

  &__picture {
    background-size: contain;
    height: 23rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-green-light, 0.45),
          rgba($color-green-dark, 0.45)
        ),
        url(../assets/Gitbook_logo.png);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.45),
          rgba($color-primary-dark, 0.45)
        ),
        url(../assets/G.O.A.T.png);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-purple-light, 0.45),
          rgba($color-purple-dark, 0.45)
        ),
        url(../assets/micro-managers.png);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-green-light, 0.85),
        rgba($color-green-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-purple-light, 0.85),
        rgba($color-purple-dark, 0.85)
      );
    }
  }
  &__details {
    padding: 1rem;

    ul {
      list-style: none;
      width: 90%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }

        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__github {
    text-align: center;
    color: $color-white;

    &--heading {
      font-size: 5rem;
    }
    &--link {
    }
    &--logo {
      width: 20rem;
    }
  }
}
