.composition {
    position: relative;
    padding: 1px;
    // text-align: center;

    &__photo {
        width: 55%;
        position: absolute;
        box-shadow: $shadow-medium;
        border-radius: 2px;
        z-index: 10;
        transition: all .2s;
        transform: translateX(-50%);

        &--p1 {
            left: 40%;
        }

        &--p2 {
            left: 50%;
            width: 62%;
            z-index: 11;
        }

        &--p3 {
            left: 60%;
        }
        &:hover {
            transform: scale(1.2) translate(-50%, -1rem);
            box-shadow: $shadow-dark;
            z-index: 12;
        }

    }

    
}