*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // this defines 1rem is 10px instead of 16px;
  font-size: 62.5%;
}

body {
  max-width: 220rem;
  margin: auto;
  box-sizing: border-box;
}
