body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark-1;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;

    animation-name: fadeToDown;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    margin: 5rem 0rem;
    animation-name: fadeToRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  &--sub2 {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    margin: 5rem 0rem;
    animation-name: fadeToLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewX(180deg);
    background-image: linear-gradient(
      to left,
      $color-primary-light,
      $color-primary-dark
    );
    text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.1);
    
  }

  &--about {
    &:hover::after {
      content: "  & MY FAMILY"
    }
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}