// Text align utilities

.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

// Margin Bottom

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-huge {
    margin-bottom: 12rem;
}

// Margin Top

.u-margin-top-small {
    margin-top: 2rem;
}
.u-margin-top-huge {
    margin-top: 12rem;
}
