.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-top-2 {
    margin-top: 2rem;
}