.section-about {
  background-color: $color-light-background;
  padding: 10rem 0;
  min-height: 70vh;
}

.section-overview {
  min-height: 60vh;
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-light-background, 0.5),
      rgba($color-light-background2, 0.5)
    ),
    url("../assets/background-Gyungju.png");

  background-size: cover;
  background-position: center;
}

.section-projects {
  min-height: 60vh;
  padding: 10rem 0;
  background-color: $color-light-background;
}

.section-musician {
  min-height: 75vh;
  padding: 15rem 0;
  position: relative;
}